body
{
    background-color: black;
    text-align: center;
}

#origami1{
    background-color: lightcoral;
}

#origami2{
    background-color: lightcoral;
}  

h1
{
    color: aqua;
}

p
{
    color:aqua;
}

h2
{
    color:aqua;
}